@charset "UTF-8";

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: grey;
    margin: auto;
}

header{
    background-color: crimson;
    padding: 10px;
    margin: 10px;
}

nav{
    background-color: grey;
    padding: 3px;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.466); 
    /* Deslocamento horizontal, vertical, estapalhamento e cor da sombra */
}

nav > a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 10px;

}

nav > a:hover{
    text-decoration: underline;
}

main{
    background-color: crimson;
    padding: 10px;
    margin: 10px;
    border-radius: 15px 0px;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.486);
}

.assuntos{
    background-color: grey;
}

article{
    background-color: grey;
    padding: 10px;
}

article > aside {
    background-color: rgb(179, 170, 170);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

footer > p{
    margin: 0px;
}

div#bola{
    height: 100px;
    width: 100px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;  
}